### Intro

In [25]:
def square(x):
    return x**2

square(4)

16

In [26]:
numbers=[i for i in range(10)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
map(square, numbers)

In [28]:
list(map(square, numbers))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### Lambda function with map

In [29]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
list(map(lambda x: x**2, numbers))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### Map multiple iterables

In [31]:
numbers1 = [i for i in range(10)]
numbers2 = [i for i in range(10,20)]

numbers1, numbers2

([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [32]:
added_numbers=list(map(lambda x,y: x+y,numbers1,numbers2))
added_numbers

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

### map() to convert a list of strings to integers

In [33]:
str_num = ['1','2','3','4','5']
int_numbers = list(map(int, str_num))
int_numbers

[1, 2, 3, 4, 5]

### upper to all strings in list

In [34]:
words=['apple','banana','cherry']
upper_words=list(map(str.upper,words))
upper_words

['APPLE', 'BANANA', 'CHERRY']

### map applied to dict

In [35]:
def get_name(person):
    return person['name']

people=[
    {'name':'Krish','age':32},
    {'name':'Jack','age':33}
]

people

[{'name': 'Krish', 'age': 32}, {'name': 'Jack', 'age': 33}]

In [36]:
list(map(get_name,people))

['Krish', 'Jack']